
#pictureBack{
  float: left;
  width: 400px;
  height: 400px;
}
#aboutMeBack{
  float: right;
  width: 700px;
  height: 400px;
  padding-top: 25px;
}
#aboutMePic{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
